.starrySky {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  /* background-color: #000; */
}

.star {
  position: absolute;
  border-radius: 50%;
  background-color: white;
  opacity: 0.8;
  animation: blink 2s infinite;
}

@keyframes blink {
  0%,
  100% {
    opacity: 0.8;
  }
  50% {
    opacity: 0.4;
  }
}
