.repos-card h3 {
  font-size: 22px;
  /* font-weight: 100; */
  font-family: 'Genos', sans-serif;
  transition: color 0.4s ease, transform 0.4s ease;
}
.repos-card-content-wrap .repos-card-title {
  transform: translateY(60px); /* Start with some offset */
  transition: opacity 0.4s ease, transform 0.4s ease;
}

.repos-card-content-wrap .know-more-btn {
  color: var(--primary-color);
  opacity: 0;
  visibility: hidden;
  transform: translateY(20px); /* Start with some offset */
  transition: opacity 0.4s ease, transform 0.4s ease, visibility 0.4s ease;
}

/* ---hovers------ */

.repos-card:hover .know-more-btn {
  opacity: 1;
  visibility: visible;
  transform: translateY(0); /* Move it to its final position */
}

.repos-card:hover .repos-card-content-wrap .repos-card-title {
  transform: translateY(0);
}

/* ----------responsiveness---------- */
@media (max-width: 1400px) {
}
@media (max-width: 1200px) {
}
@media (max-width: 992px) {
}
@media (max-width: 768px) {
  .repos-card h3 {
    font-size: 22px;
  }
}
@media (max-width: 576px) {
}
