.primary-cta {
  background-color: var(--accent-color);
  transition: all 0.4s ease;
  border-radius: var(--border-radius);
  padding: 12px 48px;
  margin-top: 40px;
  color: #fff;
  text-align: center;
}

.primary-cta-outlined {
  border: var(--accent-dark) 1px solid;
  transition: all 0.4s ease;
  border-radius: var(--border-radius);
  padding: 12px 48px;
  margin-top: 40px;
  color: var(--accent-dark);
  text-align: center;
}
.primary-cta-outlined:hover {
  background-color: var(--accent-color);
  border: none;
  padding: 12px 48px;
  margin-top: 40px;
  color: #fff;
}
