.c-logo-wrapper {
  color: var(--accent-color);
  font-weight: 800;
  font-size: 2rem;
}
.c-gradient-fade {
  /* Fallback for older browsers */
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 0, 0.7) 30%,
    rgba(0, 0, 0, 0.49) 50%,
    rgba(0, 0, 0, 0.36) 70%,
    rgba(0, 0, 0, 0.22) 85%,
    rgba(0, 0, 0, 0) 100%
  );
  /* Optionally, you can add other CSS properties here */
  width: 100%;
  /* height: 100vh; */
}
.c-nav-cta-wrapper a {
  padding: 10px 16px;
  border-radius: var(--border-radius);
}
.c-nav-cta-wrapper .c-nav-cat-1 {
  background-color: transparent;
  border: 1px var(--secondary-color) solid;
}
.c-nav-cta-wrapper .c-nav-cat-2 {
  background-color: var(--accent-color);
  /* mix-blend-mode: luminosity;
  background: linear-gradient(to right, #00000000 0%, #000000 100%); */
}
