/* styles/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;
html {
  scroll-behavior: smooth;
}
:root {
  --primary-color: #181818;
  --primary-light: #181818;
  --accent-color: #7f36db;
  --accent-darker: #281f32;
  --accent-dark: #281f32;
  --secondary-color: #ffffff;
  --section-light: #fbf7ed;
  --border-radius: 4px;
}
body {
  background-color: var(--section-light);
  line-height: normal;
}
/* --------fonts-------- */
body,
p {
  font-family: 'Genos', sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: var(--primary-light);
}

ul li a {
  font-family: 'Genos', sans-serif;
  font-weight: 400;
  font-size: 16px;
  /* color: var(--primary-light); */
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Genos', sans-serif;
  color: var(--primary-color);
}
h2 {
  font-size: 40px;
  font-weight: 600;
}
h3 {
  font-size: 22px;
  font-weight: 700;
  font-family: 'Genos', sans-serif;
  color: var(--accent-dark);
}
h4 {
  font-size: 18px;
  font-weight: 700;
  font-family: 'Genos', sans-serif;
  color: var(--accent-dark);
}
/* --------fonts-------- */
section {
  padding: 86.5px 0;
  background-color: var(--section-light);
  color: var(--primary-color);
}
.flip-horizontal {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}
/* Webkit-based browsers */
.scrollable-content::-webkit-scrollbar {
  width: 12px; /* Width of the scrollbar */
}

.scrollable-content::-webkit-scrollbar-track {
  background: #f1f1f1; /* Background of the track */
}

.scrollable-content::-webkit-scrollbar-thumb {
  background-color: var(--accent-color); /* Color of the scroll thumb */
  border-radius: 10px; /* Roundness of the scroll thumb */
  border: 3px solid #f1f1f1; /* Padding around the scroll thumb */
}

.scrollable-content::-webkit-scrollbar-thumb:hover {
  background-color: darken(var(--accent-color), 10%); /* Darken on hover */
}

/* Firefox */
.scrollable-content {
  scrollbar-width: thin; /* Thin scrollbar */
  scrollbar-color: var(--accent-color) #f1f1f1; /* Scroll thumb and track color */
}

/* ----------responsiveness---------- */
@media (max-width: 1400px) {
}
@media (max-width: 1200px) {
  h2 {
    font-size: 30px;
  }
}
@media (max-width: 992px) {
}
@media (max-width: 768px) {
  /* ------------fonts----------- */
  body,
  p,
  a {
    font-size: 13px;
  }
  h2 {
    font-size: 22px;
  }

  h3 {
    font-size: 18px;
  }
  h4 {
    font-size: 14px;
  }

  /* ------------fonts----------- */
  section {
    padding: 26.5px 0;
  }
}
@media (max-width: 576px) {
}
